<section class="demolist">
	<article>
		<a href="http://www.xitao.com/util/queryurl">queryurl</a>
		<a href="http://www.xitao.com/util/cookie">cookie</a>
		<a href="http://www.xitao.com/util/imgready">imgready</a>
		<a href="http://www.xitao.com/widget/areaLimit">areaLimit</a>
	</article>
</section>