<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8" />
  <title>><%- title %></title>
  <link rel="stylesheet" href="/css/style.css" media="all" />
  <link rel="stylesheet" href="/css/styles/tomorrow-night-eighties.css" media="all" />
  
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
  <![endif]-->
  <!--[if IE 9]>
    <meta name="application-name" content="XITAO 前端文档" />
    <meta name="msapplication-tooltip" content="XITAO 前端文档" />
    <meta name="msapplication-navbutton-color" content="#399ECF" />
  <![endif]-->
  <script src="/js/jquery.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body tabindex="1" hidefocus>
  <header>
  <hgroup>
    <h1>喜淘</h1>
    <h2>it's begin</h2>
  </hgroup>
</header> 
<%- partial('aside') %>
<%- partial('demolist') %>
<%- body %>
<script type="text/javascript">
var runCodeBtn = $("#runCode");
runCodeBtn.click(function(){
  var _val = $("#egCode").val();
  var _workout = $(".eg_workout");

  _workout.html(_val);
  console.log(_val)
})
runCodeBtn.click();//运行demo
</script>
<footer>
  &copy; 2013 XITAO 前端
</footer>
<script type="text/javascript">

  $(document).ready(function() {//转义代码
    $('pre').each(function(i, e) {hljs.highlightBlock(e)});
  });
</script>
</body>
</html>