<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8" />
  <title>XITAO 前端文档</title>
  <link rel="stylesheet" href="/css/style.css" media="all" />
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
  <![endif]-->
  <!--[if IE 9]>
    <meta name="application-name" content="XITAO 前端文档" />
    <meta name="msapplication-tooltip" content="XITAO 前端文档" />
    <meta name="msapplication-navbutton-color" content="#399ECF" />
  <![endif]-->
  <script src="/js/jquery.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body tabindex="1" hidefocus>
  <header>
  <hgroup>
    <h1>XITAO DOC</h1>
    <h2>Is Begain</h2>
  </hgroup>
</header> 
<aside>
  <section>
    <dl>
      <dt>前端规范</dt>
      <dd><a href="/">javascript</a></dd>
      <dd><a href="/css">css</a></dd>
    </dl>
    <dl>
      <dt>公司项目</dt>
      <dd><a href="/zhezi">折子</a></dd>
      <dd><a href="/tuan2">团儿网</a></dd>
    </dl>
    <dl>
      <dt>工具</dt>
      <dd><a href="/tool">工具</a></dd>
    </dl>
   <!--  <dl>
     <dt>util</dt>
     <dd><a href="?q=util.json">util.json</a></dd>
   </dl>
   <dl>
     <dt>swf</dt>
     <dd><a href="?q=swf.Clipboard">swf.Clipboard</a></dd>
     <dd><a href="?q=swf.FlashLoader">swf.FlashLoader</a></dd>
   </dl> -->
  </section>
</aside>
  <%- body %>
<footer>
  &copy; 2013 XITAO 前端
</footer>
</body>
</html>