<section class="main">
	<article>
		<h1>软件</h1>
		<h2>photoshop</h2>
		<div class="description">
			\\192.168.1.155\喜淘内部文件服务器\设计工具\Adobe
		</div>
		<h2>F5-网页开发免刷工具</h2>
		<div class="description">
			<a target="_blank" href="http://getf5.com/">[F5]</a> 是支持所有编辑器和浏览器的网页开发免刷工具让你在保存代码的同时，自动刷新页面
		</div>
	</article>
</section>