<section class="main">
	<article>
		<h1>静态资源SVN目录结构</h1>
		<pre class="text">
	staticzhezi/
		  |-- www	系统
		  |  |-- branches	分支
		  |		|-- v1.0 	分支下版本，项目每个版本会有类似目录
		  |			|-- bgimg	页面所用到的图片在这里
		  |			|-- css		CSS文件夹
		  |			|-- image	开发时用到的一些测试图片放在这里
		  |			|-- js		JS文件夹
		  |			|-- views	开发所用的静态HTML文件(php文件形式)
		  |-- coupon	系统
		  |  |-- branches	分支
		  |		|-- v1.0 	分支下版本，项目每个版本会有类似目录
		  |			|-- bgimg	页面所用到的图片在这里
		  |			|-- css		CSS文件夹
		  |			|-- image	开发时用到的一些测试图片放在这里
		  |			|-- js		JS文件夹
		  |			|-- views	开发所用的静态HTML文件(php文件形式)
		  |-- shop	系统
		  |  |-- branches	分支
		  |		|-- v1.0 	分支下版本，项目每个版本会有类似目录
		  |			|-- bgimg	页面所用到的图片在这里
		  |			|-- css		CSS文件夹
		  |			|-- image	开发时用到的一些测试图片放在这里
		  |			|-- js		JS文件夹
		  |			|-- views	开发所用的静态HTML文件(php文件形式)
		  |-- tiyanshop	系统
		  |  |-- branches	分支
		  |		|-- v1.0 	分支下版本，项目每个版本会有类似目录
		  |			|-- bgimg	页面所用到的图片在这里
		  |			|-- css		CSS文件夹
		  |			|-- image	开发时用到的一些测试图片放在这里
		  |			|-- js		JS文件夹
		  |			|-- views	开发所用的静态HTML文件(php文件形式)
		  |-- ucenter	系统
		  |  |-- branches	分支
		  |		|-- v1.0 	分支下版本，项目每个版本会有类似目录
		  |			|-- bgimg	页面所用到的图片在这里
		  |			|-- css		CSS文件夹
		  |			|-- image	开发时用到的一些测试图片放在这里
		  |			|-- js		JS文件夹
		  |			|-- views	开发所用的静态HTML文件(php文件形式)
		</pre>
	</article>
</section>